body {
  background-color: black;
  font-family: 'Pangolin', cursive;
}

.block {
  position: absolute;
  width: 16.7%;
  top: 4px;
  bottom: 1.5em;
  border-left: 8px solid black;
}

#years {
  left: 0;
  border-left: 0;
}

#months {
  left: 16.666%;
}

#days {
  left: 33.333%;
}

#hours {
  left: 50%;
}

#minutes {
  left: 66.666%;
}

#seconds {
  left: 83.333%;
}

.clock {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 7px;
  box-shadow: 1px 1px 20px #222;
  color: white;
  font-size: 2.5em;
  width: 80%;
  left: 10%;
  text-align: center;
  margin-top: 7%;
}

.clock div {
  margin: 3%;
}

.more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.more a {
  color: white;
}
